h1 {
    text-align: center;
}

body {
    text-align: center;
    background-color: #c6b5d1 ;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    margin: 20px auto;
    width: 50%;
    background-color: #c6b5d1 ;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 3px;
    width: 30%;
    margin-right: 3px;
}

button {
    padding: 10px 20px;
    background-color: #30f542;
    color: white;
    border: none;
    cursor: pointer; 
}

#countryInfo {
    margin-top: 20px;
}

#borderingCountries {
    text-align: center; 
    margin-top: 20px;
}

.country-flag {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

.border-flag {
    width: 50px;
    height: auto;
    margin: 5px;
}
